
.container { 
   width:100%; 
   margin-top: 2cm;
   align-items: center;
   justify-content: center;
}
.products { 
  
  position: relative; 
}

.each-slide > div {
  margin-top: 60px;
 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 700px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  .fullP{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .containerFavorite{
    padding-top: 100px;
  }
  


  